{% extends 'base.html.twig' %}

{% block title %}Voir profil{user.id}{% endblock %}

{% block body %}
	<section>
		<div class="container-fluid pr-0 pl-0">
			
			<div class="row justify-content-center rowBgProfile">
				<div class="col-12 col-md-12">
					<img src="{{ asset('uploads/profile/landscape.png') }}" class="imgBgProfile" alt="landscape">
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-12 col-md-12 profileBlock">
					
				</div>
			<div class="row">
				<div class="col-12 col-md-4 divAvatar">
					<img src="{{ asset('uploads/user/image/' ~ user.picture) }}" class="avatar" alt="people">
				</div>
					
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 infosUser">
					<h3>Profil de {{ user.firstname}} {{ user.lastname }}</h3>
					<p>Ville : {{ user.city}}</p>
					<p>Numéro de téléphone : {{ user.phone }}</p>
					<p>Email : {{ user.email}}</p>			
					<p>Date de naissance : {{ user.birthday|date('d-m-Y') }}</p>			
					<p>Description : {{ user.description}}</p>
					<p>Derniers pays visités : {{ user.countries}}</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}