{% extends 'base.html.twig' %}

{% block title %}Match&Go{% endblock %}

{% block body %}
	<div class="container-fluid">

<section id="first">
        <div class="header-content">
        	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="width: 100%" class="">
    <source src="{{asset ('video/match&go.mp4')}}" type="video/mp4">
    <div class="overlay"></div>
  </video>

     <!-- home wrapper -->
  <div class="home-wrapper">
    <div class="container">
      <div class="row">
        <!-- home content -->
        <div class="col">
          <div class="home-content">
            <h1 class="white-text-brand">Match&Go</h1>
            <p class="white-text-one">Trouver votre partenaire de voyage</p>
              <a href="{{ path('app_register') }}" class="btn btn-outline-light">Go</a>
          </div>
        </div>
        </div>        
</section>

<section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('uploads/article/image/431cf7a756c5d963eccad0fb60c8f742.jpeg') }}">
                        <img src="{{ asset('uploads/article/image/431cf7a756c5d963eccad0fb60c8f742.jpeg') }}" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('uploads/article/image/98f55059426650c30ed490d1f000acff.jpeg') }}">
                        <img src="{{ asset('uploads/article/image/98f55059426650c30ed490d1f000acff.jpeg') }}" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="{{ asset('uploads/article/image/069abffc20aa4dd7c9344104ca619dca.png') }}">
                        <img src="{{ asset('uploads/article/image/069abffc20aa4dd7c9344104ca619dca.png') }}" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


