{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<div class="container-fluid formBackG">
		
		<div class="row justify-content-center"> 
			<div class="col-12 col-md-4 form-group">
				<h3 class="formTitle mb-5 mt-4 text-center">S'inscrire sur Match&Go</h3>
				<div class="form-group mt-3">
					{{ form_start(registrationForm)}}
		        	{{ form_row(registrationForm.email, {'attr':{'class':'form-control mb-3 mt-3 formInput'}}) }}
		       	    {{ form_row(registrationForm.plainPassword.first, {'attr':{'class':'form-control mb-3 mt-3 formInput'}}) }}
		       	    {{ form_row(registrationForm.plainPassword.second, {'attr':{'class':'form-control mb-3 mt-3 formInput'}}) }}

		       		<div class="form-check form-check-inline">
						{{ form_widget(registrationForm.TermsAccepted, {'attr':{'class':'form-check-input mr-2 formInput'}}) }}
						{{ form_label(registrationForm.TermsAccepted, 'Accepter les CGU', {'label_attr':{'class':'form-check-label form-check-input'}}) }}
					</div>
				</div>
		        <button class="btn mb-3 mt-3 formButton" type="submit">S'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>		
		</div>
	</div>   	
{% endblock %}
