{% extends 'base.html.twig' %}

{% block title %}Hello MatchController!{% endblock %}

{% block body %}
{# {{ dump(users) }}
{{ dump(userAnswers) }}
{{ dump(test) }}
{{ dump(user) }} #}
{# {{ dump(answers) }} #}
{# {{ dump(idAnswers) }} #}
<section class="heightPage">

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="text-center">
				<img class="avatar2 mr-3" src="http://placekitten.com/70/70" alt=""><h3 class="formTitle"> Bonjour {{ moi.firstname }} ! Voici les voyageurs qui te correspondent !<br>N'hésite pas à discuter avec eux ! <a href="{{ path ('quiz')}}">Nouvelle recherche</a></h3>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="row">
				{% for userA in userMatch %}
					{% for userB in userA %}
					<div class="col-12 col-md-4 px-4">
						<div class="card my-3">
							<img src="http://placekitten.com/100/60" alt="photoUserMatch" class="imgProfileMatch">
							<div class="card-body">
								<p class="card-title text-center">{{ userB.firstname }}<br><span>{{ userB.gender }} | {{ userB.birthday|date('m-d-Y') }}</span></p>
								<p class="card-text text-center">{{ userB.city }}</p>
								<div class="row">
									<div class="col-12 text-center">
										<a href="{{path('showProfileWithSlug', {slug:userB.slug}) }}"><i class="fas fa-user"></i></a>
										<a href="{{path('addChat', {idUser:userB.id}) }}"><i class="fas fa-comment"></i></a>
									</div>

								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>

		<div class="col-12 col-md-4">
			<div id="mapLoc">
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}


{% block javascripts %}
{{parent()}}

<script>

    function initializeMap() {


        var map = new google.maps.Map(document.getElementById('mapLoc'), {
            zoom: 3.5,
            center: {lat: 45.785, lng: 3.115}
        });
        
        var geocoder = new google.maps.Geocoder();

        let coords = {
        	{% for key, coord in userCoord %}
        		'{{ key }}' : { 'firstname': '{{ coord.firstname}}', 'picture': '{{ coord.picture }}', 'lat': {{ coord.lat }}, 'lng':{{ coord.lng }}},
        	{% endfor %}
        };
        // console.log(coords);

        $.each(coords, function(i, coord) {

        	// let pictureSRC = '<img src="{{asset("uploads/user/image/"~0)}}" class="imgMapMatch">';
        	var marker = new google.maps.Marker({
            position: {lat: coord.lat, lng: coord.lng},
            map: map
        	});

        	var infowindow = new google.maps.InfoWindow({
	          content: coord.firstname
	        });
        	// pictureSRC.replace(0, coord.picture) +
          	infowindow.open(map, marker);

        });

    }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0xJoi5c9MwYIYQlwIEfLqLh95hLtcaYA&callback=initializeMap">
</script>

{% endblock %}

