{% extends 'base.html.twig' %}

{% block title %}Hello MatchController!{% endblock %}

{% block body %}

<section class="heightPage">

<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="text-center">
				<div class="row">
					<div class="col-md-3 text-right">
						<img class="avatar2 mr-3" src="{{ asset('uploads/user/image/' ~ moi.picture) }}" alt="">
					</div>
					<div class="col-md-7">
						<h3 class="formTitle titleMatch"> Bonjour {{ moi.firstname }} ! Voici les voyageurs qui te correspondent !<br>N'hésite pas à discuter avec eux ! </h3>
					</div>
					<div class="col-md-2">
						<a class="btn mt-5 mr-2 btnSearch" href="{{ path ('quiz')}}">Nouvelle recherche de match</a>
					</div>
				</div>
				
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="row">
				{% for userA in userMatch %}
					{% for userB in userA %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="box15">
                        <img  src="{{ asset('uploads/user/image/' ~ userB.picture) }}" alt="photoUserMatch" class="thumbnails">
                        <div class="box-content">
                            <p class="title">{{ userB.firstname }}<span><br> {{ userB.birthday|date('m-d-Y') }} <br> {{ userB.city }}</span></p>
                            <ul class="icon">
                                <li><a href="{{path('showProfileWithSlug', {slug:userB.slug}) }}"><i class="fas fa-user"></i></a></li>
                                <li><a href="{{path('addChat', {idUser:userB.id}) }}"><i class="fas fa-comment"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>

		<div class="col-12 col-md-4">
			<div id="mapLoc">
			</div>
		</div>
	</div>
</div>
</section>
{% endblock %}


{% block javascripts %}
{{parent()}}

<script>

    function initializeMap() {


        var map = new google.maps.Map(document.getElementById('mapLoc'), {
            zoom: 3.5,
            center: {lat: 45.785, lng: 3.115}
        });
        
        var geocoder = new google.maps.Geocoder();

        let coords = {
        	{% for key, coord in userCoord %}
        		'{{ key }}' : { 'firstname': '{{ coord.firstname}}', 'picture': '{{ coord.picture }}', 'lat': {{ coord.lat }}, 'lng':{{ coord.lng }}},
        	{% endfor %}
        };
        // console.log(coords);

        $.each(coords, function(i, coord) {

        	// let pictureSRC = '<img src="{{asset("uploads/user/image/"~0)}}" class="imgMapMatch">';
        	var marker = new google.maps.Marker({
            position: {lat: coord.lat, lng: coord.lng},
            map: map
        	});

        	var infowindow = new google.maps.InfoWindow({
	          content: coord.firstname
	        });
        	// pictureSRC.replace(0, coord.picture) +
          	infowindow.open(map, marker);

        });

    }

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0xJoi5c9MwYIYQlwIEfLqLh95hLtcaYA&callback=initializeMap">
</script>

{% endblock %}

