{% extends 'base.html.twig' %}

{% block title %}Hello MatchController!{% endblock %}

{% block body %}
{# {{ dump(users) }}
{{ dump(userAnswers) }}
{{ dump(test) }}
{{ dump(user) }} #}
{# {{ dump(answers) }} #}
{# {{ dump(idAnswers) }} #}
<section class="match">
<div class="container-fluid">
	<div class="row pt-3 pb-3">
		<div class="col-12">
			<div class="titleMatch text-center">
				<p><img class="avatar2 mr-3" src="http://placekitten.com/70/70" alt=""> Bonjour {{ moi.firstname }} ! Voici les voyageurs qui te correspondent ! N'hésite pas à tchater avec eux ! <a href="{{ path ('quiz')}}">Nouvelle recherche</a></p>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-8">
			<div class="row">
				{% for userA in userMatch %}
					{% for userB in userA %}
					<div class="col-12 col-md-3">
						<div class="card">
							<img src="http://placekitten.com/100/60" alt="photoUserMatch" class="imgProfileMatch">
							<div class="card-body">
								<p class="card-title text-center">{{ userB.firstname }}<br><span>{{ userB.gender }} | {{ userB.birthday|date('m-d-Y') }}</span></p>
								<p class="card-text">{{ userB.city }}</p>
								<div class="row">
									<div class="text-center col-12 col-md-6"><button class="btnProfile">Profil</button></div>
									<div class="text-center col-12 col-md-6"><button class="btnChat">Tchat</button></div>
								</div>
							</div>

						</div>
					</div>
					
					{% set url = "https://maps.googleapis.com/maps/api/geocode/json?address={"~ userB.city ~"}&key=AIzaSyBjslA2cbupRwG-dJvPAKcfZp0ruzEFM38"|url_encode %}
						{{dump(url)}}
{# 					{% set resultat = url|json_decode %}
						{{dump(resultat)}} #}
{# 					{% set lat = resultat['results'][0]['geometry']['location']['lat'] %}
					{% set lng = resultat['results'][0]['geometry']['location']['lng'] %} #}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
				{{dump(cityTab)}}
			
				{% for cityMatch in cityTab %}
			
				{% endfor %}

		<div class="col-12 col-md-4">
			<div id="mapLoc">
			</div>
		</div>
	</div>
</div>
</section>

{% block javascripts %}
<script>
			
            function initializeMap() {
                var map = new google.maps.Map(document.getElementById('mapLoc'), {
                    zoom: 5.5,
                    center: {lat: 45.785, lng: 3.115}
                });
                
                var geocoder = new google.maps.Geocoder();


            }

            // function geocodeAddress(geocoder, resultsMap) {
                
            //     geocoder.geocode({'address': address}, function(results, status) {
            //         if (status === 'OK') {
            //             resultsMap.setCenter(results[0].geometry.location);
            //             var marker = new google.maps.Marker({
            //                 map: resultsMap,
            //                 position: results[0].geometry.location
            //             });
            //         } else {
            //             alert('Geocode was not successful for the following reason: ' + status);
            //         }
            //     });
            // }


        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0xJoi5c9MwYIYQlwIEfLqLh95hLtcaYA&callback=initializeMap">
        </script>

    {% endblock %}
{% endblock %}
