{% extends 'base.html.twig' %}

{% block title %}Ajout Concept{% endblock %}

{% block body %}	

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{{ form_start(form) }}
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-12 col-md-6">

				<div class="form-group">
				{{ form_row(form.titleConcept, {'attr':{'class':'form-control'}}) }}
				{{ form_row(form.contentConcept, {'attr':{'class':'form-control'}}) }}
				{{ form_row(form.pictureConcept) }}
				{{ form_row(form.Publier, {'attr':{'class':'btn btnConcept'}}) }}
				</div>

			</div>
			

		</div>
	{{ form_end(form) }}
	</div>



{% endblock %}