{% extends 'base.html.twig' %}

{% block title %}Liste des blogs{% endblock %}

{% block body %}

	{# affichage des éventuels messages flash #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
<div class="container">
<div class="row">


		<div class="col-md-4">
			<img src="{{ asset('uploads/article/image/' ~ blog.pictureblog) }}"  class="img-thumbnail">

			<h3>{{ blog.title }}</h3>
			publié dans la catégorie le {{ blog.datepost|date('d/m/Y') }} par {{ blog.author }}
			<p>{{ blog.content }}</p>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			
			<a href="{{ path('deleteBlog', {slug: blog.slug}) }}"><i class="fas fa-trash"></i></a>
			<a href="{{ path('updateBlog', {slug: blog.slug}) }}"><i class="fas fa-pencil-alt"></i></a>
		{% endif %}
	
	</div>
	</div>

{% endblock %}
