{% extends 'base.html.twig' %}

{% block title %}Liste des blogs{% endblock %}

{% block body %}
<section class="heightPage">

<div class="container-fluid">
	<h2 class="pt-4">Blog</h2>
	<div class="row">


		{# affichage des éventuels messages flash #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% for blog in blogs %}

			<div class="col-md-4 mt-4 mb-3">
				<div class="imgBlog">
					<a href="{{ path('showBlogWithSlug', {slug: blog.slug}) }}" class="gallery-box"><img src="{{ asset('uploads/article/image/' ~ blog.pictureblog) }}"  class="img-thumbnail"></a>
				</div>
				<div class="row">
					<div class="col-12">
					<a href="{{ path('showBlogWithSlug', {slug: blog.slug}) }}"><h3>{{ blog.title }}</h3></a>
					<div class="row">
						<div class="col-12 col-md-9">
							<p>publié le {{ blog.datepost|date('d/m/Y') }} par {{ blog.author }}</p>
						</div>
						<div class="col-12 col-md-3">
							<p class="text-right">
							{% if is_granted('ROLE_ADMIN') %} 
								<a href="{{ path('deleteBlog', {slug: blog.slug}) }}"><i class="fas fa-trash"></i></a>
								<a href="{{ path('updateBlog', {slug: blog.slug}) }}"><i class="fas fa-pencil-alt"></i></a> 
							{% endif %}
							</p>
						</div>
						
					</div>
					</div>
				</div>
			</div>
			

		{% endfor %}
	
	</div>
</div>
</section>
{% endblock %}