{% extends 'base.html.twig' %}

{% block title %}Questionnaire de match{% endblock %}

{% block body %}

<div class="container-fluid containerQuiz">

<div class="container">

	{# début du formulaire #}
	<form method="post" class="form-horizontal">

	{# début du carousel #}
	<div id="carouselQuiz" class="carousel slide" data-ride="carousel" data-interval="false">

		{# indicateurs du carousel #}
		<ol class="carousel-indicators">
	        {% for question in questions %}
	            <li data-target="#carouselQuiz" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
	        {% endfor %}
	    </ol>

		<div class="w-100 carousel-inner" role="listbox">

			{% for question in questions %}

				<div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
			        <img src="{{asset('uploads/quiz/picture/'~random(imgQuiz)~'.jpg') }}" class="d-block w-100 pictureQuiz">
					<div class="row">
			            <div class="form-group col-md-8 offset-2 text-center labelQuestion">
							<label class="">{{ question.label }}</label>
						</div>
					</div>
					
						<div class="row littleContainer">
						
						{% for answer in question.answers %}	

							<div class="col-12 col-md-6 btn-group-toggle text-center mt-3 mb-3" data-toggle="buttons">
								<label class="btn btn-warning btnAnswers">
									<input type="checkbox" name="{{ answer.labelAnswer }}" value="{{ answer.id }}" autocomplete="off">
									{{ answer.labelAnswer }}
								</label>
							</div>
						{% endfor %}
						
					</div>

				</div>

			{% endfor %}

			<div class="carousel-item row">
				<div class="form-group col-12 text-center">
					<button type="submit" id="btnSearchMatch">Recherche tes ami(e)s de voyage !</button>
				</div>
			</div>
		
		</div>

	</form>

	{# defilement prev et next #}
	<div class="navi">
	    <a class="carousel-control-prev ico" href="#carouselQuiz" role="button" data-slide="prev">
	      <i class="fa fa-chevron-left fa-3x chevrons" aria-hidden="true"></i>
	    </a>
	    <a class="carousel-control-next ico" href="#carouselQuiz" role="button" data-slide="next">
	      <i class="fa fa-chevron-right fa-3x chevrons" aria-hidden="true"></i>
	    </a>
	</div>

	</div>

</div>

</div>

{% endblock %}

