{% extends 'base.html.twig' %}

{% block title %}Questionnaire de match{% endblock %}

{% block body %}

<div class="container">

	<div id="carouselQuiz" class="carousel slide" data-ride="carousel" data-interval="false">

{# 		  <ol class="carousel-indicators">
    <li data-target="#carouselQuiz" data-slide-to="0" class="active"></li>
    <li data-target="#carouselQuiz" data-slide-to="1"></li>
    <li data-target="#carouselQuiz" data-slide-to="2"></li>
  </ol> #}

	<div class="w-100 carousel-inner" role="listbox">

		<div class="carousel-item active">

			<h3>Démarrer le questionnaire</h3>

		</div>
		

	<form method="post" class="form-horizontal">

	{% for question in questions %}

		{# {{ dump(question)}} #}

		{# {{ dump(question.label)}} #}
		<div class="carousel-item">
			<div class="row">
	            <div class="form-group col-md-8 offset-2 text-center labelQuestion">
					<label class="">{{ question.label }}</label>
				</div>
			</div>
			
				<div class="row littleContainer">
			{% for answer in question.answers %}


					<div class="col-12 col-md-6 btn-group-toggle text-center mt-3 mb-3" data-toggle="buttons">
						<label class="btn btn-info">
							<input type="checkbox" name="{{ answer.labelAnswer }}" value="{{ answer.id }}" autocomplete="off">
							{{ answer.labelAnswer }}
						</label>
					</div>
			{% endfor %}
				
				</div>
				{# {{ dump(answer.id)}} #}



		</div>
		

	{% endfor %}

	<div class="carousel-item">
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Lancer la recherche</button>
		</div>
	</div>

	</form>

	{# defilement prev et next #}
	<div class="navi">
	    <a class="" href="#carouselQuiz" role="button" data-slide="prev">
	      <span class="carousel-control-prev-icon ico"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="" href="#carouselQuiz" role="button" data-slide="next">
	      <span class="carousel-control-next-icon ico"></span>
	      <span class="sr-only">Next</span>
	    </a>
    </div>
	
	</div>

	</div>

{# 	{{ dump(get)}}
	{{ dump(user)}}
	{{ dump(answerObj)}} #}

{{dump(user)}}


</div>



{% endblock %}
