<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>{% block title %}Match&Go{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('css/app.css')}}">
        <link rel="stylesheet" href="{{asset('js/app.js')}}">
</head>

    {% block stylesheets %}{% endblock %}
<body>   	
    <header>
    {# Bloc Logo #}
        <div id="logo" class="menuUp">
            <a class="navbar-brand" href="{{ path ('home') }}">Match&Go</a>
            <div id="navToggle"><a href="">Menu</a></div>
        </div>
    {# Fin du bloc Logo #}

{# Début de la Navbar #}
	<nav>
        <ul>
        {# Bloc visiteur #}
            <li>
                <a href="{{ path ('concept') }}">Concept</a>
            </li>
            <li>
                <a href="{{ path ('blog')}}">Blog</a>
            </li>
            <li>
                <a href="{{ path ('contact')}}">Contact</a>
            </li>
        {# Fin du bloc visiteur #}
        {# Bloc Admin #}
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                	<a href="#">Admin <span class="toggle">Expand</span><span class="caret"></span></a>
                {# Ul déroulant Admin #}
                    <nav>
                    	<ul>
                        	<li><a href="{{ path ('users') }}">Users</a></li>
                        	<li><a href="{{ path ('addConceptAdmin') }}">Concept</a></li>
                        	<li><a href="{{ path ('addBlogAdmin')}}">Ajouter Article</a></li>
                    	</ul>
                	</nav>
                {# Fin mennu déroulant admin #}
            	</li>
            {% endif %}
        {# Fin du bloc Admin #}
        {# lien connexion #}
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
            {# Fin lien connexion #}

            {# Bloc User connecté #}
            {% if is_granted('ROLE_USER') %}
                <li>
                	<a href="{{ path('app_login') }}">Profil</i> <span class="toggle">Expand</span><span class="caret"></span></a>

            {# Menu déroulant Profil #}
                <nav>
                    <ul>
                        <li><a href="#">Modifier mon profil</a></li>

                        <li><a href="{{ path('quiz') }}">Nouveau match</a></li>
                        <li><a href="{{ path('match') }}">Derniers matchs</a></li>
                        <li><a href="{{ path('logout') }}">Déconnexion</a></li>

                    </ul>
                </nav>
            {# Fin du Menu déroulant Profil #}
            {% endif %}

            {# Fin bloc User connecté #}
            </ul>
        </nav>
    </header>

{% block body %}{% endblock %}

<footer>
	<div class="container-fluid footer">
		<div class="row text-center">
			<div class="col-12 col-md-4">
				<p>Mentions légales</p>
				<p>Conditions Générales d'Utilisation</p>
				<p>Utilisation des cookies</p>
				<p>Confidentialité</p>
			</div>
			<div class="col-12 col-md-4">
				<p>Match&Go</p>
				<p>66 rue Abbé de l'Epée</p>
				<p>33000 Bordeaux</p>
				<p><a href="https://goo.gl/maps/vQFAw9F82Pm">Nous localiser</a></p>
			</div>
			<div class="col-12 col-md-4">
				<i class="fab fa-facebook-square fa-3x mr-2"></i>
				<i class="fab fa-instagram fa-3x mr-2"></i>
				<i class="fab fa-twitter fa-3x mr-2"></i>
			</div>
		</div>
	</div>
</footer>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
    </body>
</html>
