<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>{% block title %}Match&Go{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Questrial|PT+Serif:700" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{asset('css/app.css')}}">
        <link rel="stylesheet" href="{{asset('js/app.js')}}">

    {% block stylesheets %}{% endblock %}
<body>   	
    <header>
        <nav>
            <ul>
            {# Bloc visiteur #}
                <li>
                    <a href="{{ path ('concept') }}">Concept</a>
                </li>
                <li>
                    <a href="{{ path ('blog')}}">Blog</a>
                </li>
                <li>
                    <a href="{{ path ('contact')}}">Contact</a>
                </li>
            {# Fin du bloc visiteur #}
            {# Bloc Admin #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="#">Admin <span class="toggle">Expand</span><span class="caret"></span></a>
                    {# Ul déroulant Admin #}
                        <nav>
                            <ul>
                                <li><a href="{{ path ('users') }}">Users</a></li>
                                <li><a href="{{ path ('addConceptAdmin') }}">Concept</a></li>
                                <li><a href="{{ path ('addBlogAdmin')}}">Blog</a></li>
                            </ul>
                        </nav>
                    {# Fin mennu déroulant admin #}
                    </li>
                {% endif %}
            {# Fin du bloc Admin #}
            {# lien connexion #}
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <a href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
                {# Fin lien connexion #}
    
                {# Bloc User connecté #}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a href="{{ path('userInfo') }}">Profil<span class="toggle">Expand</span><span class="caret"></span></a>
                        {# Menu déroulant Profil #}
                        <nav>
                            <ul>
                                <li><a href="{{ path('updateProfile') }}">Modifier mon profil</a></li>
                                <li><a href="{{ path('quiz') }}">Recherche match</a></li>
                                <li><a href="{{ path('match') }}">Derniers matchs</a></li>
                                <li><a href="{{ path('chat') }}">Mes tchats</a></li>
                                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>
                        </nav>
                        {# Fin du Menu déroulant Profil #}
                    </li>
                {% endif %}
                {# Fin bloc User connecté #}
            </ul>
        </nav>
    </header>

{% block body %}{% endblock %}

<footer>
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-12 col-md-4">
				<p>Mentions légales</p>
				<a href="{{path('cgu')}}"><p>Conditions Générales d'Utilisation</p></a>
				<p>Utilisation des cookies</p>
				<p>Confidentialité</p>
			</div>
			<div class="col-12 col-md-4">
				<p>Match&Go</p>
				<p>66 rue Abbé de l'Epée</p>
				<p>33000 Bordeaux</p>
				<p><a href="https://goo.gl/maps/vQFAw9F82Pm">Nous localiser</a></p>
			</div>
			<div class="col-12 col-md-4">
                <p>Suivez nous sur les réseaux sociaux</p>
				<a href="https://fr-fr.facebook.com"><i class="fab fa-facebook-square fa-3x mr-2"></i></a>
				<a href="https://www.instagram.com/"><i class="fab fa-instagram fa-3x mr-2"></i></a>
				<a href="https://twitter.com/"><i class="fab fa-twitter fa-3x mr-2"></i></a>
			</div>
		</div>
	</div>
</footer>
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

    </body>
</html>
