{% extends 'base.html.twig' %}

{% block title %}Voir profil{% endblock %}

{% block body %}

	<section class="heightPage">
		<div class="container-fluid pr-0 pl-0 rowBgProfile">
				<img src="{{ asset('uploads/profile/' ~random(imgBgProfile)~'.jpg') }}" class="imgBgProfile img-fluid" alt="landscape">
			

			<div class="infosProfile">
				<div class="row justify-content-center mt-5">
					<div class="col-12 col-md-4">
						<img src="{{ asset('uploads/user/image/' ~ user.picture) }}" class="avatar" alt="avatar">
					</div>
					<div class="mt-5 col-12 col-md-7">
						<h3>Profil de {{ user.firstname}} {{ user.lastname }} :</h3>
					</div>
				</div>

				<div class="row justify-content-center mt-5">
					<div class="col-12 col-md-4">
						<p><b>Ville :</b> {{ user.city}}</p>		
						<p><b>Date de naissance :</b> {{ user.birthday|date('d-m-Y') }}</p>			
						<p><b> Facebook :</b><a href="{{ user.facebook }}"><i class="ml-2 mr-2 iconFbk fab fa-facebook fa-2x"></i></a></p>
						<p><b>Instagram : </b>{{ user.instagram }}<i class="ml-2 iconInsta fab fa-instagram fa-2x"></i></p>
					</div>

					<div class="col-12 col-md-7 description">
						<p><b>Description : </b>{{ user.description}}</p>
						<p><b>Derniers pays visités :</b> {{ user.countries}}</p>
					</div>
				</div>
			</div>	
		</div>
	</section>
{% endblock %}